__pycache__/
# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
finalYearProject/__pycache__

# .gitignore

# Exclude virtual environment
myenv/

# Exclude compiled Python files
*.pyc
__pycache__/

# Exclude non-source code files
media/
