{% load static %}
{% load i18n %}
{% include 'head.html' %}
<body>
    <div class="main-wrapper">
        {% include 'header_lecturer.html' %}
        <div class="page-wrapper">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" id="success-alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="content">
                <h3 class="page-title">{% trans 'Dashboard' %}</h3>
            </div>
            <div class="row" style="margin: 0px 15px 15px 15px;">
              <div class="col-sm ">
                  <div class="dash-widget" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                      <span class="dash-widget-bg1"><i class="fa fa-users" aria-hidden="true"></i></span>
                      <div class="dash-widget-info text-right" style="color: #656565;">
                        <h4>Total Classes</h4>
                        <h3>{{ classes_count }}</h3>
                      </div>
                  </div>
              </div>
            </div>
            <div class="row" style="margin: 15px;">
              {% for kelas in classes %}
                  <div class="col-sm">
                      <div class="dash-widget" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                          <span class="dash-widget-bg2"><i class="fa fa-users" aria-hidden="true"></i></span>
                          <div class="dash-widget-info text-right" style="color: #656565;">
                              <h4>Class Code:</h4>
                              <h3>{{ kelas.classCode }}</h3>
                          </div>
                      </div>
                  </div>
          
                  {% if forloop.counter|divisibleby:"4" and not forloop.last %}
                      </div><div class="row" style="margin: 15px;">
                  {% endif %}
              {% endfor %}
          </div>          
            <div class="row" style="margin: 15px;">
              {% for attendance_percentage in attendance_percentages %}
                  <div class="col-sm">
                    <div class="dash-widget"  style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                      <div class="chart-title">
                        <h4>Attendance percentage for {{ attendance_percentage.class_name }}</h4>
                      </div>	
                      <div id="attendance_percentage{{forloop.counter}}" data-average-percentage="{{ attendance_percentage.percentage }}"></div>
                    </div>
                  </div>
              {% endfor %}
          </div>
          <div class="row" style="margin: 15px;">
            {% for attendance_percentage in class_data %}
                <div class="col-sm">
                  <div class="dash-widget"  style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                    <div class="chart-title">
                      <h4>{{attendance_percentage.class_name}} attendance - %</h4>
                    </div>	
                    <div id="intake{{forloop.counter}}" data-average-percentage="{{ attendance_percentage.average_percentage }}"></div>
                  </div>
                </div>
            {% endfor %}
        </div>
        </div>
    </div>
    {% include 'jsreferences.html' %}
    <script>
      $(document).ready(function() {
        // Automatically close the success alert after 3 seconds
        setTimeout(function() {
          $("#success-alert").alert('close');
        }, 3000);
    
        // Iterate through the elements and render charts
        $('[id^="intake"]').each(function() {
          var averagePercentage = parseFloat($(this).data('average-percentage')) || 0;
    
          var options = {
            series: [averagePercentage],
    chart: {
      height: 350,
      type: 'radialBar',
      toolbar: {
        show: true
      },
      animations: {
        enabled: false, // Set animations to false to disable animation
        dynamicAnimation: {
          enabled: false
        }
      }
    },
            plotOptions: {
              radialBar: {
                startAngle: -135,
                endAngle: 225,
                hollow: {
                  margin: 0,
                  size: '70%',
                  background: '#fff',
                  image: undefined,
                  imageOffsetX: 0,
                  imageOffsetY: 0,
                  position: 'front',
                  dropShadow: {
                    enabled: true,
                    top: 3,
                    left: 0,
                    blur: 4,
                    opacity: 0.24
                  }
                },
                track: {
                  background: '#fff',
                  strokeWidth: '67%',
                  margin: 0,
                  dropShadow: {
                    enabled: true,
                    top: -3,
                    left: 0,
                    blur: 4,
                    opacity: 0.35
                  }
                },
                dataLabels: {
                  show: true,
                  name: {
                    offsetY: -10,
                    show: true,
                    color: '#888',
                    fontSize: '17px'
                  },
                  value: {
                    formatter: function(val) {
                      return parseInt(val);
                    },
                    color: '#111',
                    fontSize: '36px',
                    show: true,
                  }
                }
              }
            },
            fill: {
              type: 'solid'
            },
            stroke: {
              lineCap: 'round'
            },
            labels: ['Percent'],
          };
    
          var chart = new ApexCharts(this, options);
          chart.render();
        });
      });
    </script>    
</body>

</html>