{% load static %}
{% include 'head.html' %}
<style>
    .messages .error {
        color: red;
    }
    .messages .success {
        color: green;
    }
</style>
<body>
    <div class="main-wrapper">
        {% include 'header_lecturer.html' %}
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">{{user.first_name}} {{user.last_name}}'s Profile Page</h4>
                    </div>
                </div>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>
                                {{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="card-box profile-header">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile-view">
                                <div class="profile-img-wrap">
                                    <div class="profile-img">
                                        <img class="avatar" src="{{ user.lecturerprofile.lecturerProfileImage.url }}" alt="profile_image">
                                    </div>
                                </div>
                                <div class="profile-basic">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <ul class="personal-info">
                                                <li>
                                                    <span class="title">Username:</span>
                                                    <span class="text">{{ user.username}}</span>
                                                </li>
                                                <li>
                                                    <span class="title">Email:</span>
                                                    <span class="text">{{user.email}}</span>
                                                </li>
                                                <li>
                                                    <span class="title">Given Name:</span>
                                                    <span class="text">{{user.first_name}}</span>
                                                </li>
                                                <li>
                                                    <span class="title">Family name:</span>
                                                    <span class="text">{{user.last_name}}</span>
                                                </li>
                                                <li>
                                                    <span class="title">Role:</span>
                                                    <span class="text">{{user.groups.first.name}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
                <div class="card-box">
                    <h3 class="card-title">Lecturer ID</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control"  value="{{user.lecturerprofile.lecturerId}}" readonly>
                            </div>
                        </div>
                    </div>
                    <h3 class="card-title">Subject(s)</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {% for subject in subjects %}
                                <a href="{% url 'lecturer-view-subject' subject.classCode %}"><span  {% if forloop.counter|divisibleby:2 %}class="custom-badge status-green"{% else %}class="custom-badge status-orange"{% endif %}  style="margin: 0px 20px; padding: 10px">{{subject.classCode}} - {{subject.subjectCode.subjectName}}</span></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </div>
    {% include 'jsreferences.html' %}
</body>

</html>