{% load static %}
{% load i18n %}

{% include 'head.html' %}
<body>
    <div class="main-wrapper">
        {% include 'header_user.html' %}
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">{% trans 'Attendance Management' %}</h4>
                        <h4 class="page-title">{% trans 'Admin Dashboard' %}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="example" class="table table-striped custom-table mb-0">
                                <thead>
                                    <tr>
                                        <th>Subject Code</th>
                                        <th>Created by</th>
                                        <th>Created on (date)</th>
                                        <th>Created at (time)</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for attendance in attendances %}
                                        <tr>
                                            <td>{{ attendance.relation_id.classCode }}</td>
                                            <td>{{ attendance.relation_id.creator }}</td>
                                            <td>{{ attendance.checkIn|date:"Y-m-d" }}</td>
                                            <td>{{ attendance.checkIn|time:"H:i:s" }}</td>
                                            <td>
                                                {% if attendance.status == 'attended' %}
                                                    <span class="custom-badge status-green">{% trans 'Attended' %}</span>
                                                {% elif attendance.status == 'absent' %}
                                                    <span class="custom-badge status-red">{% trans 'Absent' %}</span>
                                                {% elif attendance.status == 'mc' %}
                                                    <span class="custom-badge status-orange">MC</span>
                                                {% elif attendance.status == 'excuse' %}
                                                <span class="custom-badge status-orange">{% trans 'Excuse' %}</span>
                                                {% elif attendance.status == 'emergency' %}
                                                <span class="custom-badge status-orange">{% trans 'Emergency' %}</span>
                                                {% elif attendance.status == 'curriculum' %}
                                                <span class="custom-badge status-orange">{% trans 'Curriculum' %}</span>
                                                {% elif attendance.status == 'late' %}
                                                <span class="custom-badge status-orange">{% trans 'Late' %}</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'jsreferences.html' %}
    <script>
        $(document).ready(function() {
            // Check if DataTable is already initialized
            if ($.fn.DataTable.isDataTable('#example')) {
                // Destroy the existing DataTable instance
                $('#example').DataTable().destroy();
            }
    
            // Initialize DataTable with your options
            $('#example').DataTable({
                "language": {
                    "search": "{% trans 'Search:' %}",
                    // Other DataTable options...
                }
            });
        });
    </script>    
    
</body>

</html>