{% load static %}
{% include 'head.html' %}
<style>
    .messages .error {
        color: red;
    }
    .messages .success {
        color: green;
    }
</style>
<body>
    <div class="main-wrapper">
        {% include 'header_user.html' %}
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">{{user.username}}'s Profile Page</h4>
                    </div>
                </div>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>
                                {{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="card-box profile-header">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile-view">
                                <div class="profile-img-wrap">
                                    <div class="profile-img">
                                        {% if user.groups.first.name == "admin" %}
                                            <img class="avatar" src="{{ user.adminprofile.adminProfileImage.url }}" alt="profile_image">
                                        {% elif user.groups.first.name == "lecturer" %}
                                            <img class="avatar" src="{{ user.lecturerprofile.lecturerProfileImage.url }}" alt="profile_image">
                                        {% elif user.groups.first.name == "user" %}
                                            <img class="avatar" src="{{ user.userprofile.faceImageUrl.url }}" alt="profile_image">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="profile-basic">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <ul class="personal-info">
                                                <li>
                                                    <span class="title">Username:</span>
                                                    <span class="text">{{ user.username}}</span>
                                                </li>
                                                <li>
                                                    <span class="title">Email:</span>
                                                    <span class="text">{{user.email}}</span>
                                                </li>
                                                <li>
                                                    <span class="title">Given Name:</span>
                                                    <span class="text">{{user.first_name}}</span>
                                                </li>
                                                <li>
                                                    <span class="title">Family name:</span>
                                                    <span class="text">{{user.last_name}}</span>
                                                </li>
                                                <li>
                                                    <span class="title">Role:</span>
                                                    <span class="text">{{user.groups.first.name}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
                {% if user.groups.first.name == "admin" %}
                    <div class="card-box">
                        <h3 class="card-title">Admin ID</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="intakeCode" value="{{user.adminprofile.adminId}}" readonly>
                                </div>
                            </div>
                        </div>
                        <h3 class="card-title">Intake(s)</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {% for intake in intakes %}
                                        <a href=""><span  {% if forloop.counter|divisibleby:2 %}class="custom-badge status-green"{% else %}class="custom-badge status-orange"{% endif %}  style="margin: 0px 20px; padding: 10px;">{{intake.intakeCode}}</span></a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% elif user.groups.first.name == "lecturer" %}
                    <div class="card-box">
                        <h3 class="card-title">Lecturer ID</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control"  value="{{user.lecturerprofile.lecturerId}}" readonly>
                                </div>
                            </div>
                        </div>
                        <h3 class="card-title">Subject(s)</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {% for subject in subjects %}
                                        <a href=""><span  {% if forloop.counter|divisibleby:2 %}class="custom-badge status-green"{% else %}class="custom-badge status-orange"{% endif %}  style="margin: 0px 20px; padding: 10px">{{subject.subjectName}}</span></a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>      
                {% elif user.groups.first.name == "user" %}
                    <div class="card-box">
                        <h3 class="card-title">Student ID</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control"  value="{{user.userprofile.userId}}" readonly>
                                </div>
                            </div>
                        </div>
                        <h3 class="card-title">Intake Code</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" value="{{ user.userprofile.intakeCode.intakeCode }}" readonly>
                                </div>
                            </div>
                        </div>
                        <h3 class="card-title">Absence Monitoring Status</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" value="{{ user.userprofile.absenceMonitoringId.absenceLimitName }}" readonly>
                                </div>
                            </div>
                        </div>
                        <h3 class="card-title">Subject(s)</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {% if subjects %}
                                        {% for subject in subjects %}
                                            <a href="{% url 'user-view-subject' subject.subjectCode %}"><span  {% if forloop.counter|divisibleby:2 %}class="custom-badge status-green"{% else %}class="custom-badge status-orange"{% endif %}  style="margin: 0px 20px; padding: 10px">{{subject.classCode}} - {{subject.subjectCode.subjectName}}</span></a>
                                        {% endfor %}
                                    {% else %}
                                        <h6 class="text">You have no subject yet</h6>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'jsreferences.html' %}
</body>

</html>