{% load static %}
{% include 'head.html' %}
<body>
    <div class="main-wrapper">
        {% include 'header.html' %}
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-5 col-5">
                        <h4 class="page-title">Apply Leaves</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>User's Name</th>
                                        <th>Status</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{ user.username }}</td>
                                        <td>
                                            {% if forloop.counter|divisibleby:2 %}
                                                <span class="custom-badge status-red">Barred</span>
                                            {% else %}
                                                <span class="custom-badge status-orange">Warned</span>
                                            {% endif %}
                                        </td>
                                        <td class="text-right">
                                            <a href="#" data-toggle="modal" data-target="#delete_department" ><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="delete_department" class="modal fade delete-modal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <img src=" {% static 'assets/img/sent.png' %}" alt="" width="50" height="46">
                        <h3>Are you sure want to delete this Department?</h3>
                        <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'jsreferences.html' %}
    <script src="{% static 'assets/js/jquery.dataTables.min.js' %} "></script>
    <script src="{% static 'assets/js/dataTables.bootstrap4.min.js' %} "></script>
</body>

</html>