{% load static %}
{% include 'head.html' %}
<body>
    <div class="main-wrapper  account-wrapper">
        <div class="account-page">
            <div class="account-center">
                <video id="video" width="800" height="800" autoplay></video>
                <canvas id="canvas" width="800" height="800"></canvas>
                <button id="captureBtn">Capture</button>
                <form method="POST" action="" class="form-signin">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <input type="hidden" name="image_path" id="imagePath" value="">
                    <button type="submit">Save Image</button>
                </form>
            </div>
        </div>
    </div>
    {% include 'jsreferences.html' %}
    <!-- Add this JavaScript code to your faceImage.html template -->
    <script>
        // Get references to HTML elements
        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        const captureBtn = document.getElementById('captureBtn');
        const imagePathInput = document.getElementById('imagePath');
        
        // Check for webcam support
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    // Assign the user's webcam stream to the video element
                    video.srcObject = stream;
                })
                .catch(function (error) {
                    console.error('Error accessing webcam:', error);
                });
        }

        // Add click event listener to the "Capture" button
        captureBtn.addEventListener('click', function () {
            // Draw the current video frame onto the canvas
            const context = canvas.getContext('2d');
            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            // Convert the canvas image data to a data URL
            const imageDataURL = canvas.toDataURL('image/png');

            // Set the data URL in the hidden input field
            imagePathInput.value = imageDataURL;
        });
    </script>
</body>
</html>
