
<body>
    <div id="delete_user_modal" class="modal fade delete-modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img src="{% static 'assets/img/sent.png' %}" alt="" width="50" height="46">
                    <h3>You are about to logout. Are you sure?</h3>
                    <div class="m-t-20">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <a href="{% url 'logout' %}"><button type="button" class="btn btn-danger">Sure</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
