{% load static %}
<div class="header">
    <div class="header-left">
        <a href="{% url 'lecturer-dashboard' %}" class="logo">
            <img src=" {% static 'assets/img/bolt.png' %} " width="35" height="35" alt=""> <span>Bolt-FRAS</span>
        </a>
    </div>
    <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
    <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
    <ul class="nav user-menu float-right">
        <li class="nav-item dropdown has-arrow">
            <a href="" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                <span class="user-img">
                    <img class="rounded-circle" src="{{request.user.lecturerprofile.lecturerProfileImage.url}}" width="24" alt="Admin">
                    <span class="status online"></span>
                </span>
                <span>{{request.user.username}}</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                <a class="dropdown-item" href="{% url 'admin-face' request.user.id %}">Take Attendance</a>
            </div>
        </li>
    </ul>
</div>
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li {% if request.path == '/lecturer-dashboard' %}class="active"{% endif %}>
                    <a href="{% url 'lecturer-dashboard' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                </li>
                <li {% if '/lecturer-attendance-management' in request.path or '/lecturer-edit-attendance' in request.path or '/lecturer-view-attendance' in request.path or '/lecturer-create-attendance' in request.path %}class="active"{% endif %}>
                    <a href="{% url 'lecturer-attendance-management' %}"><i class="fa fa-calendar"></i> <span>Attendance Management</span></a>
                </li>
                <li {% if '/lecturer-subject-management' in request.path or '/lecturer-view-subject' in request.path %}class="active"{% endif %}>
                    <a href="{% url 'lecturer-subject-management' %}"><i class="fas fa-chalkboard-teacher"></i><span>Subject Management</span></a>
                </li>
                <li {% if '/view-myProfileLecturer' in request.path %}class="active"{% endif %}>
                    <a href="{% url 'view-myProfileLecturer' request.user.id %}"><i class="fa fa-user"></i> <span>My Profile</span></a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#delete_user_modal"><i class="fa-solid fa-power-off"></i> <span>Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<body>
    <div id="delete_user_modal" class="modal fade delete-modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img src="{% static 'assets/img/sent.png' %}" alt="" width="50" height="46">
                    <h3>You are about to logout. Are you sure?</h3>
                    <div class="m-t-20">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <a href="{% url 'logout' %}"><button type="button" class="btn btn-danger">Sure</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
