{% load static %}
<div class="sidebar-overlay" data-reff=""></div>
<script src=" {% static 'assets/js/jquery-3.2.1.min.js' %} "></script>
<script src=" {% static 'assets/js/popper.min.js' %} "></script>
<script src=" {% static 'assets/js/bootstrap.min.js' %} "></script>
<script src=" {% static 'assets/js/jquery.slimscroll.js' %} "></script>
<script src=" {% static 'assets/js/app.js' %} "></script>
<script src=" {% static 'assets/js/Chart.bundle.js' %} "></script>
<script src=" {% static 'assets/js/chart.js' %} "></script>
<script src=" {% static 'assets/js/select2.min.js' %} "></script>
<script src=" {% static 'assets/js/moment.min.js' %} "></script>
<script src=" {% static 'assets/js/bootstrap-datetimepicker.min.js' %} "></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'assets/DataTables/datatables.min.js' %} "></script>
    