{% load static %}
{% include 'head.html' %}
<body>
    <div class="main-wrapper error-wrapper">
        <div class="error-box">
            <div class="text-center">
                <img src="{% static 'assets/img/complete.gif' %} " style="width: 70%;" alt="email sent">
            </div>
            <h3>An email is already sent, check your mailbox to reset your password.</h3>
            <a href="/" class="btn btn-primary go-home">Log In</a>
        </div>
    </div>
    {% include 'jsreferences.html' %}
</body>