{% load static %}
{% include 'head.html' %}
<body>
    <div class="main-wrapper">
        {% include 'header.html' %}
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-7 col-6">
                        <h4 class="page-title">My Profile</h4>
                    </div>
                    {% if request.user.groups.exists %}
                        {% with group=request.user.groups.first.name %}
                            {% if group == 'admin' %}
                            <div class="col-sm-5 col-6 text-right m-b-30">
                                <a href="edit-profile" class="btn btn-primary btn-rounded"><i class="fa fa-edit"></i> Edit Profile</a>
                            </div>
                            {% endif %}
                        {% endwith %}
                    {% endif %}    
                    
                </div>
                <div class="card-box profile-header">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile-view">
                                <div class="profile-img-wrap">
                                    <div class="profile-img">
                                        <img class="avatar" src="{{ user.profile.image.url }}" alt="">
                                    </div>
                                </div>
                                <div class="profile-basic">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="profile-info-left">
                                                <h3 class="user-name m-t-0 mb-0">{{request.user}}</h3>
                                                {% if request.user.groups.exists %}
                                                    {% with group=request.user.groups.first.name %}
                                                        {% if group == 'admin' %}
                                                            <small class="text-muted">Admin</small>
                                                        {% else %}
                                                            <small class="text-muted">User</small>
                                                        {% endif %}
                                                    {% endwith %}
                                                {% endif %}
                                                <div class="staff-id">ID : {{request.user.id}}</div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <ul class="personal-info">
                                                <li>
                                                    <span class="title">Phone:</span>
                                                    <span class="text">{{user.profile.phone_number}}</a></span>
                                                </li>
                                                <li>
                                                    <span class="title">Email:</span>
                                                    <span class="text">{{request.user.email}}</span>
                                                </li>
                                                <li>
                                                    <span class="title">Birthday:</span>
                                                    <span class="text">{{user.profile.birthday}}</span>
                                                </li>
                                                <li>
                                                    <span class="title">Address:</span>
                                                    <span class="text">{{user.profile.address}}</span>
                                                </li>
                                                <li>
                                                    <span class="title">Gender:</span>
                                                    <span class="text">{{user.profile.gender}}</span>
                                                </li>
                                                <li>
                                                    <span class="title">Umage:</span>
                                                    <span class="text">{{user.profile.image.url}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
				<div class="profile-tabs">
					<ul class="nav nav-tabs nav-tabs-bottom">
						<li class="nav-item"><a class="nav-link active" href="#about-cont" data-toggle="tab">About</a></li>
						<li class="nav-item"><a class="nav-link" href="#bottom-tab2" data-toggle="tab">Profile</a></li>
						<li class="nav-item"><a class="nav-link" href="#bottom-tab3" data-toggle="tab">Messages</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane show active" id="about-cont">
                            <div class="row">
                                <div class="col-md-12">
                                    {% for x in "123456789" %}
                                    <div class="card-box">
                                        <h3 class="card-title">Card {{x}}</h3>
                                        <div class="experience-box">
                                            <ul class="experience-list">
                                                <li>
                                                    <div class="experience-user">
                                                        <div class="before-circle"></div>
                                                    </div>
                                                    <div class="experience-content">
                                                        <div class="timeline-content">
                                                            <a href="#/" class="name">Info 1</a>
                                                            <div>Info 2</div>
                                                            <span class="time">Info 3</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    {%endfor%}
                                </div>
                            </div>
						</div>
						<div class="tab-pane" id="bottom-tab2">
							Tab content 2
						</div>
						<div class="tab-pane" id="bottom-tab3">
							Tab content 3
						</div>
					</div>
				</div>
            </div>
            
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    {% include 'jsreferences.html' %}
</body>
</html>