{% load static %}
{% include 'head.html' %}
<body>
    <div class="main-wrapper  account-wrapper">
        <div class="col-sm-12">
            <a href="users" class="btn btn-primary btn-rounded float-left"><i class="fa fa-arrow-left"></i> Go Back</a>
        </div>
        <div class="account-page">
            <div class="account-center">
                <h2 style="text-align: center;">Register Admin</h2>
                <div class="account-box" style="margin-top: 15px;">
                    {% for message in messages %}
                    <h5 style="color: red;"> {{ message }} </h5>
                    {% endfor %}
                    <form method="POST" action="" class="form-signin" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="account-logo">
                            <img src="{% static 'assets/img/bolt-dark.png' %} " alt="">
                        </div>
                        <div class="form-group">
                            <label>Student ID</label>
                            <input type="text" class="form-control" name="studentID" id="studentID" required>
                        </div>
                        <div class="form-group">
                            <label>College Email Address</label>
                            <input type="email" class="form-control" name="email" required>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" required>
                        </div>
                        <div class="form-group">
                            <label>Repeat password</label>
                            <input type="password" class="form-control" name="password2" required>
                        </div>
                        <div class="form-group">
                            <label>Given Name</label>
                            <input type="text" class="form-control" name="first_name" required>
                        </div>
                        <div class="form-group">
                            <label>Family Name</label>
                            <input type="text" class="form-control" name="last_name" required>
                        </div>
                        <div class="form-group">
                            <label>Intake</label>
                            <select class="form-control" name="intakeCode" required>
                                <option value="">---</option>
                                {% for intake in intakes %}
                                    <option value="{{ intake.intakeCode }}">{{ intake.intakeCode }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="text" class="form-control" name="phone_number" required>
                        </div>
                        <div class="form-group">
                            <label>Face Image</label>
                            <input type="file" class="form-control" name="image" id="image" accept="image/*" required>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary account-btn" type="submit">Signup</button>
                        </div>
                        <div class="text-center login-link">
                            Already have an account? <a href="loginPage">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include 'jsreferences.html' %}
</body>
</html>
