{% load static %}
{% include 'head.html' %}
<style>
    .messages .error {
        color: red;
    }
    .messages .success {
        color: green;
    }
</style>
<body>
    <div class="main-wrapper">
        {% include 'header_admin.html' %}
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Edit Attendance - {{attendance.classCode}}</h4>
                    </div>
                </div>
                <form method="POST" class="form-signin" enctype="multipart/form-data">
                    <div class="card-box">
                        {% csrf_token %}
                        <h3 class="card-title">Class Code</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="classCode" value="{{attendance.classCode}}">
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="creator" value="{{request.user.username}}" readonly>
                        <h3 class="card-title">Subject</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <select class="form-control" name="subjectCode" required>
                                    {% for subject in subjects %}
                                        <option value="{{ subject.subjectCode }}"{% if attendance.classCode.subjectCode == subject %} selected {% endif %}>{{ subject.subjectCode }} - {{ subject.subjectName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <h3 class="card-title">Lecturer</h3>
                        <select class="form-control" name="lecturerId" required>
                            {% for lecturer in lecturers %}
                                <option value="{{ lecturer.lecturerprofile.lecturerId}}" {% if lecturer.lecturerprofile == attendance.classCode.lecturerId %} selected {% endif %}>{{ lecturer.lecturerprofile.lecturerId}} - {{ lecturer.username }}</option>
                            {% endfor %}
                        </select>
                        <h3 class="card-title">Intake(s) - hold ctrl or cmd to select multiple intakes</h3>
                        <select class="form-control" name="intakes" style="height: 250px;" required multiple>
                            {% for intake in intakes %}
                                <option style="padding: 5px 0px;" value="{{ intake.intakeCode }}" {% if intake in intakeTables %} selected {% endif %}>{{ intake.intakeCode }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <h3 class="card-title">Student list</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped custom-table mb-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Student's name</th>
                                            <th>Student's ID</th>
                                            <th>Attended</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for status in attendance_status %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ status.userId.userId }}</td>
                                                <td>{{ status.userId.user.first_name }} {{ status.userId.user.last_name }}</td>
                                                <td>
                                                    <select name="status_{{ status.userId.userId }}">
                                                        <option value="Attended" {% if status.status == "attended" %}selected{% endif %}>Attended</option>
                                                        <option value="Absent" {% if status.status == "absent" %}selected{% endif %}>Absent</option>
                                                        <option value="Late" {% if status.status == "late" %}selected{% endif %}>Late</option>
                                                        <option value="MC" {% if status.status == "mc" %}selected{% endif %}>MC</option>
                                                        <option value="excuses" {% if status.status == "excuses" %}selected{% endif %}>Excuses</option>
                                                        <option value="emergency" {% if status.status == "emergency" %}selected{% endif %}>Emergency</option>
                                                        <option value="curriculum" {% if status.status == "curicullum" %}selected{% endif %}>Curriculum</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="totalUser" value="{{ users|length }}">
                    <div class="text-center m-t-20">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    {% include 'jsreferences.html' %}
</body>

</html>