<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load i18n %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <title>Bolt-FRAS</title>
    <link rel="icon" type="image/png" href="{% static 'assets/img/bolt.png' %}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/select2.min.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/dataTables.bootstrap4.min.css' %} ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href=" {% static 'assets/DataTables/datatables.min.css' %} " rel="stylesheet">
    <script src=" {% static 'assets/js/html5shiv.min.js' %} "></script>
    <script src=" {% static 'assets/js/respond.min.js' %} "></script>
    <script src=" {% static 'assets/js/table-sort.js' %} "></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <style>
        .messages .error {
            color: red;
        }
        .messages .success {
            color: green;
        }
    </style>
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="{% url 'admin-dashboard' %}" class="logo">
                    <img src=" {% static 'assets/img/bolt.png' %} " width="35" height="35" alt=""> <span>Bolt-FRAS</span>
                </a>
            </div>
            <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown" style="pointer-events: none;">
                    <a href="" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="{{request.user.adminprofile.adminProfileImage.url}}" width="24" alt="Admin">
                            <span class="status online"></span>
                        </span>
                        <span>{{request.user.username}}</span>
                    </a>
                </li>
            </ul>            
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li {% if '/admin-dashboard' in request.path %}class="active"{% endif %}>
                            <a href="{% url 'admin-dashboard' %}"><i class="fa fa-dashboard"></i> <span>{% trans 'Dashboard' %}</span></a>
                        </li>
                        <li {% if '/admin-admin-management' in request.path or '/admin-edit-admin' in request.path or '/admin-view-admin' in request.path or '/admin-create-admin' in request.path %}class="active"{% endif %}>
                            <a href="{% url 'admin-admin-management' %}"><i class="fa fa-user"></i> <span>{% trans 'Admin Management' %}</span></a>
                        </li>
                        <li {% if '/admin-lecturer-management' in request.path or '/admin-edit-lecturer' in request.path or '/admin-view-lecturer' in request.path or '/admin-create-lecturer' in request.path %}class="active"{% endif %}>
                            <a href="{% url 'admin-lecturer-management' %}"><i class="fa fa-user"></i> <span>{% trans 'Lecturer Management' %}</span></a>
                        </li>
                        <li {% if '/admin-user-management' in request.path or '/admin-edit-user' in request.path or '/admin-view-user' in request.path or '/admin-create-user' in request.path %}class="active"{% endif %}>
                            <a href="{% url 'admin-user-management' %}"><i class="fa fa-user"></i> <span>{% trans 'Student Management' %}</span></a>
                        </li>
                        <li {% if '/admin-intake-management' in request.path or '/admin-edit-intake' in request.path or '/admin-view-intake' in request.path or '/admin-create-intake' in request.path %}class="active"{% endif %}>
                            <a href="{% url 'admin-intake-management' %}"><i class="fa-solid fa-user-group"></i> <span>{% trans 'Intake Management' %}</span></a>
                        </li>
                        <li {% if '/admin-subject-management' in request.path or '/admin-edit-subject' in request.path or '/admin-view-subject' in request.path or '/admin-create-subject' in request.path %}class="active"{% endif %}>
                            <a href="{% url 'admin-subject-management' %}"><i class="fas fa-chalkboard-teacher"></i><span>{% trans 'Subject Management' %}</span></a>
                        </li>
                        <li {% if '/admin-class-management' in request.path or '/admin-edit-class' in request.path or '/admin-view-class' in request.path or '/admin-create-class' in request.path %}class="active"{% endif %}>
                            <a href="{% url 'admin-class-management' %}"><i class="fa fa-users" aria-hidden="true"></i><span>{% trans 'Class Management' %}</span></a>
                        </li>
                        <li {% if '/admin-attendance-management' in request.path or '/admin-edit-attendance' in request.path or '/admin-view-attendance' in request.path or '/admin-create-attendance' in request.path %}class="active"{% endif %}>
                            <a href="{% url 'admin-attendance-management' %}"><i class="fa fa-calendar"></i> <span>{% trans 'Attendance Management' %}</span></a>
                        </li>
                        <li {% if '/admin-absenceMonitoring-management' in request.path or '/admin-edit-absenceMonitoring' in request.path or '/admin-view-absenceMonitoring' in request.path or '/admin-create-absenceMonitoring' in request.path %}class="active"{% endif %}>
                            <a href="{% url 'admin-absenceMonitoring-management' %}"><i class="fa-solid fa-triangle-exclamation"></i><span>{% trans 'Absence Monitoring' %}</span></a>
                        </li>
                        <li {% if '/admin-leave-management' in request.path or '/admin-view-leave' in request.path %}class="active"{% endif %}>
                            <a href="{% url 'admin-leave-management' %}">
                                <i class="fa-solid fa-envelope-open"></i></i>
                                <span>{% trans 'Leave Management' %}</span>
                                {% if leave_count > 0 %}
                                    <span class="badge badge-pill bg-danger float-right">{{ leave_count }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li {% if '/view-myProfileAdmin' in request.path %}class="active"{% endif %}>
                            <a href="{% url 'view-myProfileAdmin' request.user.id %}"><i class="fa fa-user"></i> <span>{% trans 'Profile Page' %}</span></a>
                        </li>
                        <li {% if '/admin-report-management' in request.path or '/admin-view-report' in request.path or '/admin-reply-report' in request.path %}class="active"{% endif %}>
                            <a href="{% url 'admin-report-management' %}">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                <span>{% trans 'Report Management' %}</span>
                                {% if report_count > 0 %}
                                    <span class="badge badge-pill bg-danger float-right">{{ report_count }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li {% if '/admin-notification-management' in request.path or '/admin-noted-notification' in request.path or '/admin-reply-report' in request.path %}class="active"{% endif %}>
                            <a href="{% url 'admin-notification-management' %}">
                                <i class="fa-solid fa-bell"></i>
                                <span>{% trans 'Notification Management' %}</span>
                                {% if notification_count > 0 %}
                                    <span class="badge badge-pill bg-danger float-right">{{ notification_count }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li {% if '/admin-change-language' in request.path %}class="active"{% endif %}>
                            <a href="{% url 'admin-change-language' %}">
                                <i class="fa-solid fa-language"></i>
                                <span>{% trans 'Change Language' %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#delete_user_modal"><i class="fa-solid fa-power-off"></i> <span>{% trans 'Logout' %}</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4">
                        <h4 class="page-title">{% trans "View Student Account" %} - {{user.username}}</h4>
                    </div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <a href="{% url 'admin-edit-user' user.id %}" class="btn btn-primary float-right"><i class="fa fa-plus"></i> Edit {% trans "Student" %}</a>
                    </div>
                </div>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>
                                {{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="card-box profile-header m-4" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile-view">
                                <div class="profile-img-wrap">
                                    <div class="profile-img">
                                            <img class="avatar" src="{{ user.userprofile.faceImageUrl.url }}" alt="profile_image">
                                    </div>
                                </div>
                                <div class="profile-basic">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <ul class="personal-info">
                                                <li>
                                                    <span class="title">ID:</span>
                                                    <span class="text">{{ user.username}}</span>
                                                </li>
                                                <li>
                                                    <span class="title">{% trans "Email" %}:</span>
                                                    <span class="text">{{user.email}}</span>
                                                </li>
                                                <li>
                                                    <span class="title">{% trans "First Name" %}:</span>
                                                    <span class="text">{{user.first_name}}</span>
                                                </li>
                                                <li>
                                                    <span class="title">{% trans "Last Name" %}:</span>
                                                    <span class="text">{{user.last_name}}</span>
                                                </li>
                                                <li>
                                                    <span class="title">{% trans "Role" %}:</span>
                                                    <span class="text">Student</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 15px;">
                    <div class="col-sm ">
                        <div class="dash-widget" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                            <span class="dash-widget-bg1"><i class="fa fa-users" aria-hidden="true"></i></span>
                            <div class="dash-widget-info text-right" style="color: #656565;">
                              <h4>{% trans "Intake" %}</h4>
                              <h3>{{ intake.intakeCode }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm ">
                        <div class="dash-widget" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                            <span class="dash-widget-bg2"><i class="fas fa-chalkboard-teacher" aria-hidden="true"></i></span>
                            <div class="dash-widget-info text-right" style="color: #656565;">
                              <h4>{% trans "Total subject" %}</h4>
                              <h3>{{subject_count}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm ">
                        <div class="dash-widget" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                            <span class="dash-widget-bg3"><i class="fa fa-users" aria-hidden="true"></i></span>
                            <div class="dash-widget-info text-right" style="color: #656565;">
                              <h4>{% trans "Total class" %}</h4>
                              <h3>{{class_count}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm ">
                        <div class="dash-widget" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                            <span class="dash-widget-bg4" style="background: #ff3c35;"><i class="fa fa-warning" aria-hidden="true"></i></span>
                            <div class="dash-widget-info text-right" style="color: #656565;">
                              <h4>{% trans "Absent Count" %}</h4>
                              <h3>{{ absent_count }}</h3>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="row" style="margin: 15px;">
                    {% for attendance_percentage in attendance_percentages %}
                        <div class="col-sm">
                          <div class="dash-widget"  style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                            <div class="chart-title">
                              <h4>{% trans "Attendance" %} %  for {{ attendance_percentage.class_name }}</h4>
                            </div>	
                            <div id="attendance_percentage{{forloop.counter}}" data-average-percentage="{{ attendance_percentage.percentage }}"></div>
                          </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row" style="margin: 15px;">
                  {% for intake_code, data in data.items %}    
                    <div class="col-sm">
                        <div class="dash-widget mx-auto" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                            <div class="chart-title">
                                <h4>{{intake_code}} {% trans "Attendance" %}</h4>
                            </div>	
                            <div style="display: flex; justify-content: center;" id="donutchart{{intake_code}}" data-attendance-list="{{ data.attendance_list }}"></div>
                        </div>
                    </div>
                  {% endfor %}
                  {% if forloop.counter|divisibleby:"4" and not forloop.last %}
                    </div><div class="row" style="margin: 15px;">
                  {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="example" class="table table-striped custom-table mb-0">
                                <thead>
                                    <tr>
                                        <th>{% trans "Subject Code" %}</th>
                                        <th>{% trans "Created by" %}</th>
                                        <th>{% trans "Created on (date)" %}</th>
                                        <th>{% trans "Created at (time)" %}</th>
                                        <th>{% trans "Status" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for attendance in attendances %}
                                        <tr>
                                            <td>{{ attendance.relation_id.classCode }}</td>
                                            <td>{{ attendance.relation_id.creator }}</td>
                                            <td>{{ attendance.checkIn|date:"Y-m-d" }}</td>
                                            <td>{{ attendance.checkIn|time:"H:i:s" }}</td>
                                            <td>
                                                {% if attendance.status == 'attended' %}
                                                    <span class="custom-badge status-green">{% trans 'Attended' %}</span>
                                                {% elif attendance.status == 'absent' %}
                                                    <span class="custom-badge status-red">{% trans 'Absent' %}</span>
                                                {% elif attendance.status == 'mc' %}
                                                    <span class="custom-badge status-orange">MC</span>
                                                {% elif attendance.status == 'excuse' %}
                                                <span class="custom-badge status-orange">{% trans 'Excuse' %}</span>
                                                {% elif attendance.status == 'emergency' %}
                                                <span class="custom-badge status-orange">{% trans 'Emergency' %}</span>
                                                {% elif attendance.status == 'curriculum' %}
                                                <span class="custom-badge status-orange">{% trans 'Curriculum' %}</span>
                                                {% elif attendance.status == 'late' %}
                                                <span class="custom-badge status-orange">{% trans 'Late' %}</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="delete_user_modal" class="modal fade delete-modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img src="{% static 'assets/img/sent.png' %}" alt="" width="50" height="46">
                    <h3>{% trans "You are about to logout. Are you sure?" %}</h3>
                    <div class="m-t-20">
                        <button type="button" class="btn btn-white" data-dismiss="modal">{% trans "Close" %}</button>
                        <a href="{% url 'logout' %}"><button type="button" class="btn btn-danger">{% trans "Sure" %}</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src=" {% static 'assets/js/jquery-3.2.1.min.js' %} "></script>
    <script src=" {% static 'assets/js/popper.min.js' %} "></script>
    <script src=" {% static 'assets/js/bootstrap.min.js' %} "></script>
    <script src=" {% static 'assets/js/jquery.slimscroll.js' %} "></script>
    <script src=" {% static 'assets/js/app.js' %} "></script>
    <script src=" {% static 'assets/js/Chart.bundle.js' %} "></script>
    <script src=" {% static 'assets/js/chart.js' %} "></script>
    <script src=" {% static 'assets/js/select2.min.js' %} "></script>
    <script src=" {% static 'assets/js/moment.min.js' %} "></script>
    <script src=" {% static 'assets/js/bootstrap-datetimepicker.min.js' %} "></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'assets/DataTables/datatables.min.js' %} "></script>
    <script>
        // Function to automatically dismiss the alert after 3 seconds
        setTimeout(function() {
            $("#success-alert").alert('close');
        }, 3000); // 3000 milliseconds = 3 seconds
        
        $(document).ready(function() {
    // Check if DataTable is already initialized
    if ($.fn.DataTable.isDataTable('#example')) {
        // Destroy the existing DataTable instance
        $('#example').DataTable().destroy();
    }

    // Initialize DataTable with your options and translations
    $('#example').DataTable({
        "language": {
            "search": "{% trans 'Search:' %}",
            "lengthMenu": "{% trans 'Show _MENU_ entries' %}",
            "info": "{% trans 'Showing _START_ to _END_ of _TOTAL_ entries' %}",
            "infoEmpty": "{% trans 'Showing 0 to 0 of 0 entries' %}",
            "infoFiltered": "({% trans 'filtered from _MAX_ total entries' %})",
            "zeroRecords": "{% trans 'No matching records found' %}",
            "paginate": {
                "first": "{% trans 'First' %}",
                "previous": "{% trans 'Previous' %}",
                "next": "{% trans 'Next' %}",
                "last": "{% trans 'Last' %}"
            }
        }
    });
});

// Iterate through the elements and render charts
$('[id^="attendance_percentage"]').each(function() {
          var averagePercentage = parseFloat($(this).data('average-percentage')) || 0;
    
          var options = {
            series: [averagePercentage],
            chart: {
              height: 350,
              type: 'radialBar',
              toolbar: {
                show: true
              }
            },
            plotOptions: {
              radialBar: {
                startAngle: -135,
                endAngle: 225,
                hollow: {
                  margin: 0,
                  size: '70%',
                  background: '#fff',
                  image: undefined,
                  imageOffsetX: 0,
                  imageOffsetY: 0,
                  position: 'front',
                  dropShadow: {
                    enabled: true,
                    top: 3,
                    left: 0,
                    blur: 4,
                    opacity: 0.24
                  }
                },
                track: {
                  background: '#fff',
                  strokeWidth: '67%',
                  margin: 0,
                  dropShadow: {
                    enabled: true,
                    top: -3,
                    left: 0,
                    blur: 4,
                    opacity: 0.35
                  }
                },
                dataLabels: {
                  show: true,
                  name: {
                    offsetY: -10,
                    show: true,
                    color: '#888',
                    fontSize: '17px'
                  },
                  value: {
                    formatter: function(val) {
                      return parseInt(val);
                    },
                    color: '#111',
                    fontSize: '36px',
                    show: true,
                  }
                }
              }
            },
            fill: {
              type: 'solid'
            },
            stroke: {
              lineCap: 'round'
            },
            labels: ['Percent'],
          };
    
          var chart = new ApexCharts(this, options);
          chart.render();
        });

      $('[id^="donutchart"]').each(function() {
      var attendance_list = $(this).data('attendance-list');
      console.log (attendance_list);
      var labelNames = ['Attended', 'Absent', 'MC', 'Late', 'Curriculum', 'Excuse', 'Emergency'];  
      var colors = ['#008FFB', '#00E396', '#FEB019', '#FF4560', '#775DD0', '#F9844A', '#4D5360'];
      var options = {
          series: attendance_list,
          chart: {
          width: 600,
          type: 'donut',
          animations: {
                enabled: false, // Set animations to false to disable animation
                dynamicAnimation: {
                  enabled: false
                }
              }
        },
        plotOptions: {
          pie: {
            startAngle: -90,
            endAngle: 270,
          }
        },
        dataLabels: {
          enabled: false
        },
        legend: {
          formatter: function(val, opts) {
            return labelNames[opts.seriesIndex] + " - " + opts.w.globals.series[opts.seriesIndex];

          }
        },
        colors: colors, 
        tooltip: {
            custom: function ({ series, seriesIndex, dataPointIndex, w }) {
                return labelNames[seriesIndex] + " - " + w.globals.series[seriesIndex];
            }
        },
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }],
        };

        var chart = new ApexCharts(this, options);
        chart.render();
    });
    </script>    
</body>

</html>
