{% load static %}
{% include 'head.html' %}
<style>
    .messages .error {
        color: red;
    }
    .messages .success {
        color: green;
    }
</style>
<body>
    <div class="main-wrapper">
        {% include 'header_admin.html' %}
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">View Intake - {{intake.intakeCode}}</h4>
                    </div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <a href="{% url 'admin-edit-intake' intake.intakeCode %}" class="btn btn-primary float-right"><i class="fa fa-edit"></i> Edit Lecturer</a>
                    </div>
                </div>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>
                                {{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="card-box">
                        <h3 class="card-title">Intake Code</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="intakeCode" name="intakeCode" value="{{intake.intakeCode}}" readonly>
                                </div>
                            </div>
                        </div>
                        <h3 class="card-title">Coordinator</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="coordinator" name="coordinator" value="{{intake.adminId.user.username}}" readonly>
                                </div>
                            </div>
                        </div>
                </div>
                <h3 class="card-title">Student list</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Student's name</th>
                                        <th>Student's ID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.userprofile.userId }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% include 'jsreferences.html' %}
</body>

</html>